.sidebar {
  width: 20%;
  max-width: 240px;
  height: 100vh;
  box-shadow: 4px 0px 16px rgba(30, 30, 30, 0.08);
  padding: 15px;
  z-index: 10;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.brand-name {
  font-size: 21px;
  font-weight: 700;
  margin-left: 22px;
}

.sidebar-nav {
  margin-top: 45px;
  font-size: 16px;
}

ul {
  list-style-type: none;
}
