* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  --fw-reg: 300;
  --fw-med: 400;
  --fw-semi: 600;
  --pri-color: #7165e3;
  --sec-color: #877bfa;
}
